<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="player">
      <h2 data-cy="playerDetailsHeading"><span jhiTranslate="ultimateTennisApplicationApp.player.detail.title">Player</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ player.id }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.firstname">Firstname</span></dt>
        <dd>
          <span>{{ player.firstname }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.lastname">Lastname</span></dt>
        <dd>
          <span>{{ player.lastname }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.country">Country</span></dt>
        <dd>
          <span>{{ player.country }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.age">Age</span></dt>
        <dd>
          <span>{{ player.age }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.firstServePercentage">First Serve Percentage</span></dt>
        <dd>
          <span>{{ player.firstServePercentage }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.servicePointsWon">Service Points Won</span></dt>
        <dd>
          <span>{{ player.servicePointsWon }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.breakPointsSaved">Break Points Saved</span></dt>
        <dd>
          <span>{{ player.breakPointsSaved }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.secondServeReturnPointsWon">Second Serve Return Points Won</span></dt>
        <dd>
          <span>{{ player.secondServeReturnPointsWon }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.breakPointsConverted">Break Points Converted</span></dt>
        <dd>
          <span>{{ player.breakPointsConverted }}</span>
        </dd>
        <dt><span jhiTranslate="ultimateTennisApplicationApp.player.score">Score</span></dt>
        <dd>
          <span>{{ player.score }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/player', player.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
