<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-player-heading"
        data-cy="PlayerCreateUpdateHeading"
        jhiTranslate="ultimateTennisApplicationApp.player.home.createOrEditLabel"
      >
        Create or edit a Player
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.firstname" for="field_firstname">Firstname</label>
          <input type="text" class="form-control" name="firstname" id="field_firstname" data-cy="firstname" formControlName="firstname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.lastname" for="field_lastname">Lastname</label>
          <input type="text" class="form-control" name="lastname" id="field_lastname" data-cy="lastname" formControlName="lastname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.firstServePercentage" for="field_firstServePercentage"
            >First Serve Percentage</label
          >
          <input
            type="number"
            class="form-control"
            name="firstServePercentage"
            id="field_firstServePercentage"
            data-cy="firstServePercentage"
            formControlName="firstServePercentage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.servicePointsWon" for="field_servicePointsWon"
            >Service Points Won</label
          >
          <input
            type="number"
            class="form-control"
            name="servicePointsWon"
            id="field_servicePointsWon"
            data-cy="servicePointsWon"
            formControlName="servicePointsWon"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.breakPointsSaved" for="field_breakPointsSaved"
            >Break Points Saved</label
          >
          <input
            type="number"
            class="form-control"
            name="breakPointsSaved"
            id="field_breakPointsSaved"
            data-cy="breakPointsSaved"
            formControlName="breakPointsSaved"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="ultimateTennisApplicationApp.player.secondServeReturnPointsWon"
            for="field_secondServeReturnPointsWon"
            >Second Serve Return Points Won</label
          >
          <input
            type="number"
            class="form-control"
            name="secondServeReturnPointsWon"
            id="field_secondServeReturnPointsWon"
            data-cy="secondServeReturnPointsWon"
            formControlName="secondServeReturnPointsWon"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.breakPointsConverted" for="field_breakPointsConverted"
            >Break Points Converted</label
          >
          <input
            type="number"
            class="form-control"
            name="breakPointsConverted"
            id="field_breakPointsConverted"
            data-cy="breakPointsConverted"
            formControlName="breakPointsConverted"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ultimateTennisApplicationApp.player.score" for="field_score">Score</label>
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
